<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

@model IEnumerable<ServicioTecnico3.Models.mostrar_levantado_Result>
<div>
    <label class="alert-danger">@ViewBag.Mensaje</label>
</div>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>
                <label>Codigo</label>
            </th>
            <th>
                <label>Fecha</label>
            </th>
            <th>
                <label>Tienda</label>
            </th>
            <th>
                <label>Cliente</label>
            </th>
            <th>
                <label>Usuario</label>
            </th>
            <th>
                <label>Pendientes</label>
            </th>
            <th>Editar#</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre_tienda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre_comercial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPendiente)
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Ver detalle de Levantado" >Ver
                          
                        </a>
                        <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar Levantado">Anular
                         
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>


